// GRAYS:

@darkgray: #313E47;
@textgray: #414D54;
@midgray: #6F7E82;
@lightgray: #A0B2B8;
@snowgray: #E6F0F2;

@black: #333;
@white: #f9f9f9;

@gray: #efefef;
@light-gray: #f5f5f5;

@green: #30d053;
@darker-green: #1fb132;

@black: #2d2e2d;
@red: #d22f52;

@graphite: #34495e;
@light-graphite: #4e6072;
