
@import 'colors.less';
@import 'globals.less';

.btn {
  padding: 7px 20px;
  border: 1px solid @light-graphite;
}

.btn-white {
  &:extend(.btn);
  background-color: @white;
}

.btn-green {
  &:extend(.btn);
  border: 1px solid @green;
  background-color: @green;
  color: @white;
}

/* TEXT INPUT */

.text_input {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 12px 14px;
  font-size: 15px;
  line-height: 15px;
  border: 1px solid @midgray;
  border-radius: 2px;
}

.text_input:focus {
  outline-color: transparent;
  outline-style: none;
  border: 1px solid @graphite;
}
