
@import 'colors.less';
@import 'globals.less';

.days_row_wrapper {
  width: 100%;
  background-color: @graphite;
  display: flex;
  position: absolute;
  top: 0;
}

.days_group_number {
  display: block;
  color: @light-graphite;
  font-size: .75em;
  padding-left: 18px;
  padding-bottom: 3px;
}


.days_group_wrapper {
  padding-bottom: 15px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 10px;
  border-left: 1px solid @light-graphite;
}

.days_group_inner {
  display: flex;
}

@dayh: 33px;
.days_row_item {
  border-radius: 2px;
  margin-left: 5px;
  text-align: center;
  transition: all .2s ease;
  width: @dayh;
  height: @dayh;
  line-height: @dayh;
  border: 1px solid @light-graphite;
  color: @graphite;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}

.error {
  &:extend(.days_row_item);
  background-color: @graphite;
  color: @pink;
  border: 1px solid @pink;
  cursor: pointer;
}

.empty {
  &:extend(.days_row_item);
}

.current {
  &:extend(.days_row_item);
  background-color: @light-graphite;
  color: @light-graphite;
}
