
@import 'colors.less';
@import 'globals.less';

@padding: 7px;

.md-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.editor {
  border-top: @light-graphite;
}

// DAYS ROW

.days_wrapper {
  width: 100%;
  background-color: @graphite;
  display: flex;
  padding: 10px;
  padding-left: 0px;
}

@dayh: 80px;
.day_item {
  background-color: @light-graphite;
  border-radius: @radius;
  color: @graphite;
  margin-left: 10px;
  text-align: center;
  transition: all .222s ease;
  &:hover {
    background-color: @graphite;
    color: @light-graphite;
    cursor: pointer;
  }
}

// EDITOR WRAPPER

.editor_wrapper {
  padding: 40px 20px 0;
  margin: 0 auto;
  max-width: 1320px;
  display: flex;
}

.editor_messenger_wrapper {
  width: 70%;
  position: relative;
}

.editor_messenger {
  width: 600px;
  margin: 0 auto;
  background-color: @white;
  border: 1px solid @gray;
  border-radius: @radius;
}

.editor_tools_wrapper {
  width: 30%;
}

// TOOLS

.editor_tools {
  background-color: @white;
  border: 1px solid @gray;
  border-radius: @radius;
  padding: 10px;
}

.wrap-mxn {
  border: 1px solid @gray;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

.msg_type_wrapper {
  .wrap-mxn
}

.msg_type_title {
  text-align: center;
}

.msg_type_item {
  background-color: red;
}

// MESSAGES

.list_message {
  text-align: center;
  border-bottom: 1px solid @gray;
  font-size: 70px;
  line-height: 120px;
  color: rgb(214, 214, 214);


  &:hover {
    .md-shadow
  }
}
