
@import 'colors.less';

@hheight: 100px;

.header {
  width: 100%;
  height: @hheight;
  background-color: @graphite;
  color: @white;
  border-bottom: 1px solid @light-graphite;
  line-height: @hheight;
}

.header_logo {
  width: @hheight;
  height: @hheight;
  background-color: @light-graphite;
}
