
@import "norm.less";
@import "colors.less";

@font-stack: 'PT Sans', sans-serif;

a, a:visited {
  color: inherit;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0px;
}

html {
  background-color: @lightgray;
}

body {
  font: 100% @font-stack;
}

.content {
  padding-top: 65px;
}

/* HELPER CLASSES */

.hidden {
  opacity: 0;
  transition: all .2s ease;
}

@import 'header.less';
@import 'editor.less';
@import 'bots.less';
@import 'auth.less';
