
@import 'colors.less';
@import 'globals.less';

.list_message_container {
  position: relative;
}

.msg_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: @graphite;
  opacity: .1;
  z-index: 999;

  &:hover {
    cursor: pointer;
  }
}

.msg_inner_container {
  color: rgb(214, 214, 214);
  position: relative;
  padding: 20px 0;
  cursor: default;
  display: flex;
  align-items: center;
  border-bottom: 1px solid @snowgray;
}

.msg_wrapper_dropzone {
  height: 200px;
  // border-top: 1px solid @midgray;
}

.message_content {
  margin: 0 auto;
}

.msg_dragged {
  opacity: 0;
}

.msg_dragged_over {
  background-color: @red;
  opacity: .3;
}

/* MSGS BY TYPES */

@emoji: 2em;
.msg_drag-hook {
  width: 160px;
  text-align: center;
  font-size: @emoji;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    cursor: move;
  }
}

.lister_msg_item_text {
  color: @graphite;
  background-color: @lightgray;
  border: 1px solid @lightgray;
  margin: 0 auto;
  width: 300px;
  border-radius: 25px;
  padding: 14px 19px;
  font-size: 14px;
  line-height: 22px;
  cursor: default;
  border: 1px solid @lightgray;

  &.last_txt {
    border-radius: 14px 14px 0 0;
  }
}

textarea.lister_msg_item_text {
  resize: none;
  overflow: hidden;
  height: 228px; // to fit 320 chars
}

textarea.lister_msg_item_text:focus {
  border: 1px solid @graphite;
  outline-color: transparent;
  outline-style: none;
}

.lister_msg_tools {
  display: flex;
  width: 100%;
  max-width: 160px;
  padding: 30px;
  font-size: @emoji / 1.5;
  justify-content: space-around;;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lister_msg_tools .edit,
.lister_msg_tools .copy,
.lister_msg_tools .remove {
  &:hover {
    cursor: pointer;
  }
}

.lister_msg_item_wrap {
  margin: 0 auto;
  padding-top: 12px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  cursor: default;
}

.lister_msg_item_qr {
  color: @fbblue;
  background-color: @white;
  text-align: center;
  padding: 12px 20px;
  border: 1px solid @fbblue;
  border-radius: 100px;
  min-width: 48%;
  cursor: default;

  &:hover {
    cursor: pointer;
  }
}


.lister_msg_item_qr.qr_error {
  &:extend(.lister_msg_item_qr);
    padding: 12px 20px;
    background-color: @white;
    color: @pink;
    border: 1px solid @pink;
}


.lister_msg_item_qr.qr_error.selected {
  background-color: @pink;
  color: @white;
}


.lister_msg_item_qr.selected {
  background-color: @fbblue;
  color: @white;
}

.lister_msg_item_btns {
  margin: 0 auto;
  padding: 12px 20px;
  width: 300px;
  display: block;
  color: @fbblue;
  background-color: @white;
  text-align: center;
  border: 1px solid @lightgray;
  border-top: 0px solid @fbblue;

  &:last-child {
    border-radius: 0 0 14px 14px;
  }
}

.lister_msg_empty {
  width: 100%;
  text-align: center;
  color: @graphite;
  padding: 40px 100px;
  font-size: 1.4em;
}
